*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 100;
    font-family: 'Times New Roman', Times, seri
}

.wrap{
    width: 100%;
    float:left;
}


.main{
    text-align:center;
    position: relative;
    /* background-color:teal; */
    
}


.main h1{
    
    position:absolute;
    top:50%;
    color: #000;
    left:50%;  
    transform: translate(-50%,-50%);
    font-size: 40px;
}

.card-body{
    background:linear-gradient(to bottom left,#121010 18%,white 20%);
    box-shadow: purple 5px;
    height: 10%;
    width: auto;
}

img
{
  height: 30%;
  width: auto
  ;
}
/*css sidebar start*/
.sidebar{
    height: 100vh;
    width: 360px;
    background-color: rgb(20, 8, 8);
    position: fixed;
    z-index:999;
    padding: 40px;
    left: -360px;
    box-sizing: border-box;
    transition: .6s;
}

.opensidebar{
    left: 0;
}


.sidebar h1{
     color:#fff;
     font-size: 40px;
     font-weight: normal;
     text-transform: uppercase;
}


.sidebar ul{
    display: block;
    margin-top: 50px;

}
.sidebar ul li{
    padding:10px 0;
    list-style: none;
    border-bottom: 1px solid #707070;
    margin-bottom: 10px;
}

.sidebar ul li a{
    color: #fff;
    font-size: 26px;
    text-decoration: none;
}

#menuicon{
    position: absolute;
    height: 50px;
    width:50px;
    right: -10px;
    top:0;
    cursor: pointer;
}





































